.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px 15px;
}

.header_text h1 {
  margin-top: 0px;
}

.header_text h2 {
  margin-block-end:0.33em;
  font-size: 1em;
}

.header_img {
  border-radius:8px;
  width: 200px;
  height: 289px;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .header_text h1,h2,h3,h4 {
    text-align: center;
  }
}

ul {
  padding-left: 20px;
}

ul.pubs li {
  margin-bottom: 6px;
}

h1 {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
               source-sans-pro, sans-serif;
}

h2,h3, h4 {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}


html {
  font-family: system-ui, sans-serif;
}
